In [1]:
import numpy as np
import pandas as pd

import pandas as pd
from matplotlib import pyplot
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.utils import shuffle
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score

In [2]:
from sklearn import svm
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import NearestNeighbors
from sklearn.naive_bayes import GaussianNB
from sklearn import tree

In [3]:
tb_gearbox_0 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz0.csv')
tb_gearbox_10 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz10.csv')
tb_gearbox_20 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz20.csv')
tb_gearbox_30 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz30.csv')
tb_gearbox_40 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz40.csv')
tb_gearbox_50 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz50.csv')
tb_gearbox_60 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz60.csv')
tb_gearbox_70 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz70.csv')
tb_gearbox_80 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz80.csv')
tb_gearbox_90 = pd.read_csv('Gearbox Dataset/Broken Tooth/b30hz90.csv')

In [4]:
tb_gearbox_0.shape, tb_gearbox_10.shape, tb_gearbox_20.shape, tb_gearbox_30.shape, tb_gearbox_40.shape, tb_gearbox_50.shape, tb_gearbox_60.shape, tb_gearbox_70.shape, tb_gearbox_80.shape, tb_gearbox_90.shape

((88320, 4),
 (111616, 4),
 (114432, 4),
 (89856, 4),
 (94464, 4),
 (94208, 4),
 (95488, 4),
 (100864, 4),
 (110335, 4),
 (105728, 4))

In [5]:
tb_gearbox_0.shape

(88320, 4)

In [6]:
h_gearbox_0 = pd.read_csv('Gearbox Dataset/Healthy/h30hz0.csv')
h_gearbox_10 = pd.read_csv('Gearbox Dataset/Healthy/h30hz10.csv')
h_gearbox_20 = pd.read_csv('Gearbox Dataset/Healthy/h30hz20.csv')
h_gearbox_30 = pd.read_csv('Gearbox Dataset/Healthy/h30hz30.csv')
h_gearbox_40 = pd.read_csv('Gearbox Dataset/Healthy/h30hz40.csv')
h_gearbox_50 = pd.read_csv('Gearbox Dataset/Healthy/h30hz50.csv')
h_gearbox_60 = pd.read_csv('Gearbox Dataset/Healthy/h30hz60.csv')
h_gearbox_70 = pd.read_csv('Gearbox Dataset/Healthy/h30hz70.csv')
h_gearbox_80 = pd.read_csv('Gearbox Dataset/Healthy/h30hz80.csv')
h_gearbox_90 = pd.read_csv('Gearbox Dataset/Healthy/h30hz90.csv')

In [7]:
h_gearbox_0.shape, h_gearbox_10.shape, h_gearbox_20.shape, h_gearbox_30.shape, h_gearbox_40.shape, h_gearbox_50.shape, h_gearbox_60.shape, h_gearbox_70.shape, h_gearbox_80.shape, h_gearbox_90.shape

((88832, 4),
 (92928, 4),
 (108544, 4),
 (106240, 4),
 (100608, 4),
 (110848, 4),
 (99840, 4),
 (101376, 4),
 (99840, 4),
 (106752, 4))

In [8]:
failure = 0

load = 0

h_gearbox_0['load'] = load*np.ones((len(h_gearbox_0.index),1))
failureArray = np.zeros((len(h_gearbox_0.index),1))
h_gearbox_0['failure'] = failureArray

load = 10

h_gearbox_10['load'] = load*np.ones((len(h_gearbox_10.index),1))
failureArray = np.zeros((len(h_gearbox_10.index),1))
h_gearbox_10['failure'] = failureArray

load = 20

h_gearbox_20['load'] = load*np.ones((len(h_gearbox_20.index),1))
failureArray = np.zeros((len(h_gearbox_20.index),1))
h_gearbox_20['failure'] = failureArray

load = 30

h_gearbox_30['load'] = load*np.ones((len(h_gearbox_30.index),1))
failureArray = np.zeros((len(h_gearbox_30.index),1))
h_gearbox_30['failure'] = failureArray

load = 40

h_gearbox_40['load'] = load*np.ones((len(h_gearbox_40.index),1))
failureArray = np.zeros((len(h_gearbox_40.index),1))
h_gearbox_40['failure'] = failureArray

load = 50

h_gearbox_50['load'] = load*np.ones((len(h_gearbox_50.index),1))
failureArray = np.zeros((len(h_gearbox_50.index),1))
h_gearbox_50['failure'] = failureArray

load = 60

h_gearbox_60['load'] = load*np.ones((len(h_gearbox_60.index),1))
failureArray = np.zeros((len(h_gearbox_60.index),1))
h_gearbox_60['failure'] = failureArray

load = 70

h_gearbox_70['load'] = load*np.ones((len(h_gearbox_70.index),1))
failureArray = np.zeros((len(h_gearbox_70.index),1))
h_gearbox_70['failure'] = failureArray

load = 80

h_gearbox_80['load'] = load*np.ones((len(h_gearbox_80.index),1))
failureArray = np.zeros((len(h_gearbox_80.index),1))
h_gearbox_80['failure'] = failureArray

load = 90

h_gearbox_90['load'] = load*np.ones((len(h_gearbox_90.index),1))
failureArray = np.zeros((len(h_gearbox_90.index),1))
h_gearbox_90['failure'] = failureArray

In [9]:
h_gearbox_30.head()

        a1       a2        a3       a4  load  failure
0  9.97455  3.27094  0.433691 -1.78217  30.0      0.0
1 -1.34088 -3.14412 -3.619100  4.44778  30.0      0.0
2 -9.56382  4.70157 -3.233920  7.39967  30.0      0.0
3 -3.03049 -1.74331 -0.705843 -4.12295  30.0      0.0
4  9.18348 -1.94194 -1.683970 -3.00855  30.0      0.0

In [10]:
failure = 1

load = 0

tb_gearbox_0['load'] = load*np.ones((len(tb_gearbox_0.index),1))
failureArray = np.ones((len(tb_gearbox_0.index),1))
tb_gearbox_0['failure'] = failureArray

load = 10 

tb_gearbox_10['load'] = load*np.ones((len(tb_gearbox_10.index),1))
failureArray = np.ones((len(tb_gearbox_10.index),1))
tb_gearbox_10['failure'] = failureArray

load = 20 

tb_gearbox_20['load'] = load*np.ones((len(tb_gearbox_20.index),1))
failureArray = np.ones((len(tb_gearbox_20.index),1))
tb_gearbox_20['failure'] = failureArray

load = 30 

tb_gearbox_30['load'] = load*np.ones((len(tb_gearbox_30.index),1))
failureArray = np.ones((len(tb_gearbox_30.index),1))
tb_gearbox_30['failure'] = failureArray

load = 40 

tb_gearbox_40['load'] = load*np.ones((len(tb_gearbox_40.index),1))
failureArray = np.ones((len(tb_gearbox_40.index),1))
tb_gearbox_40['failure'] = failureArray

load = 50 

tb_gearbox_50['load'] = load*np.ones((len(tb_gearbox_50.index),1))
failureArray = np.ones((len(tb_gearbox_50.index),1))
tb_gearbox_50['failure'] = failureArray

load = 60 

tb_gearbox_60['load'] = load*np.ones((len(tb_gearbox_60.index),1))
failureArray = np.ones((len(tb_gearbox_60.index),1))
tb_gearbox_60['failure'] = failureArray

load = 70 

tb_gearbox_70['load'] = load*np.ones((len(tb_gearbox_70.index),1))
failureArray = np.ones((len(tb_gearbox_70.index),1))
tb_gearbox_70['failure'] = failureArray

load = 80 

tb_gearbox_80['load'] = load*np.ones((len(tb_gearbox_80.index),1))
failureArray = np.ones((len(tb_gearbox_80.index),1))
tb_gearbox_80['failure'] = failureArray

load = 90 

tb_gearbox_90['load'] = load*np.ones((len(tb_gearbox_90.index),1))
failureArray = np.ones((len(tb_gearbox_90.index),1))
tb_gearbox_90['failure'] = failureArray

In [11]:
tb_gearbox_90.tail()

             a1       a2        a3        a4  load  failure
105723  4.43417 -2.03793 -0.546417  1.181320  90.0      1.0
105724  2.90332 -2.82035 -2.486930  0.115640  90.0      1.0
105725 -1.61799  1.27861 -6.159510 -1.376230  90.0      1.0
105726 -2.01122 -4.02945 -0.082050  0.932847  90.0      1.0
105727 -4.43736 -1.97041  3.074570 -3.557610  90.0      1.0

In [12]:
broken_df = pd.concat([tb_gearbox_0,tb_gearbox_10,tb_gearbox_20,tb_gearbox_30,tb_gearbox_40,tb_gearbox_50,tb_gearbox_60,tb_gearbox_70,tb_gearbox_80,tb_gearbox_90],axis=0,ignore_index=True)

In [13]:
healthy_df = pd.concat([h_gearbox_0,h_gearbox_10,h_gearbox_20,h_gearbox_30,h_gearbox_40,h_gearbox_50,h_gearbox_60,h_gearbox_70,h_gearbox_80,h_gearbox_90],axis=0,ignore_index=True)

In [14]:
gear_data   = pd.concat([broken_df,healthy_df], axis =0)

In [15]:
training_features = ['a1', 'a2', 'a3', 'a4', 'load']
label = ['failure']

In [16]:
x = gear_data[training_features]
x.shape

(2021119, 5)

In [17]:
y = gear_data[label]
y.shape

(2021119, 1)

In [18]:
x,y = shuffle(x,y)

In [19]:
x.shape, y.shape

((2021119, 5), (2021119, 1))

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

# Decision Tree

In [27]:
DT_Model = tree.DecisionTreeClassifier()
DT_Model.fit(x_train, y_train)
DT_Model.score(x_test, y_test)

0.5505462317922736

In [28]:
y_pred = DT_Model.predict(x_test)
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

         0.0       0.55      0.55      0.55    203845
         1.0       0.55      0.55      0.55    200379

    accuracy                           0.55    404224
   macro avg       0.55      0.55      0.55    404224
weighted avg       0.55      0.55      0.55    404224

# Logistic Regression

In [29]:
from sklearn.linear_model import LogisticRegression

LR_Model = LogisticRegression()
LR_Model.fit(x_train, y_train)
LR_Model.score(x_test, y_test)

C:\Users\Apple Khan\.conda\envs\tf\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5143138457884737

In [30]:
y_pred = LR_Model.predict(x_test)
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

         0.0       0.74      0.51      0.61    295009
         1.0       0.28      0.52      0.37    109215

    accuracy                           0.51    404224
   macro avg       0.51      0.52      0.49    404224
weighted avg       0.62      0.51      0.54    404224

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

RF_Model = RandomForestClassifier()
RF_Model.fit(x_train, y_train)
RF_Model.score(x_test, y_test)

C:\Users\Apple Khan\AppData\Local\Temp\ipykernel_33992\895015429.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  RF_Model.fit(x_train, y_train)

In [ ]:
y_pred = RF_Model.predict(x_test)
print(classification_report(y_pred, y_test))

# Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

NB_Model = GaussianNB()
NB_Model.fit(x_train, y_train)
NB_Model.score(x_test, y_test)